html,
body {
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
  font-family: Arial;
}

button {
  border: none;
  text-decoration: none;
  padding: 15px;
  margin: 0;
  width: 100%;
  color: white;
  font-size: 1.2em;
  margin-top: 10px;
  outline: none;
}

input {
  border: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

input:focus {
  outline: none;
}

.hidden {
  display: none;
}

#game-menu {
  max-width: 500px;
  width: 100%;
  height: 325px;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e0e0e0;
  border-radius: 5px;
  padding-bottom: 5px;
}

#lobby {
  max-width: 500px;
  width: 100%;
  height: 315px;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e0e0e0;
  border-radius: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.menu-text {
  color: #484848;
  text-align: center;
  margin: 0;
  padding: 10px 0px;
}

#room-code {
  color: black;
}

.sub-text {
  margin: 0;
  padding: 15px 0px;
  text-align: center;
  color: #484848;
}

.divider {
  border: 1px solid #c0c0c0;
  padding: 0;
  margin: 0;
}

.input-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}

.play-button {
  background-color: #0051ff;
}

.private-button {
  background-color: #009266;
}

.username {
  border: none;
  outline: none;
  width: 99%;
  height: 42.5px;
  padding-left: 5px;
}

#game-over {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e0e0e0;
  text-align: center;
}

#mgame-over {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e0e0e0;
  text-align: center;
}

#replay-button {
  background-color: #0051ff;
}

#create-button {
  background-color: #ce8d00;
}

#back-button {
  background-color: #c70032;
}

#start-room {
  background-color: #0051ff;
}

#code-input {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

.joinRoom-layout {
  display: flex;
  width: 100%;
}
